.center {
  text-align: center;
}
.grid {
    padding-left:10%;
    padding-right:10%;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    grid-gap: 30px;
}

.with-border {
    border:3px solid black;
    padding:40px;
}
.no-top-margin {
    margin-top:0
}

.not-block {
    box-shadow:none;
}
.not-block > h3, h3.not-block {
    opacity:0;
}

#js-file * {
    white-space: pre-wrap;
}
#js-file {
    overflow-y: scroll;
}
.flex {
    display:flex;
    justify-content: space-around;
}
